.corpodocontato{
    background-color: white;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.center{
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
}

.contato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

form{
    margin: 30px;
    width: 100%;
    background-color: lightgray;
    width:500px;
    height:350px;
    padding:30px;
    border: 2px solid black;
    border-radius: 10px;
}

label{
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    position: relative;
    right: 8px;
    color: black;
    margin: 20px;
    font-size: 20px;
}

input{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
}

input:valid, textarea:valid{
    border-color: green;
}

textarea{
    margin: 10px;
    height: 100px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
}

button{
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

button:hover{
    background-color: rgb(43, 43, 43);
    color: white;
    cursor: pointer;
}

.dados{
    margin: 30px;
    background-color: lightgray;
    padding:30px;
    border: 2px solid black;
    border-radius: 10px;
    width:400px;
    height:350px;
}

.dados h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.dados p{
    margin-bottom: 4px;
}

.dados img{
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 10px;
}