@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.corpodoprincipal{
    background-color: white;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.center{
    padding-top: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

img{
    border: 2px solid black;
    height: 600px;
    width: 400px;
    display: block;
    margin: 20px;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.principal a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Staatliches', cursive;
    color: black;
    display: block;
}

.principal a:hover{
    font-size:23px;
}

.fundoretangulo{
    background-color:lightgray;
    width: 400px;
    margin: 20px;
    border: 2px solid black;
}

.fundoretangulo a{
    text-align: center;
}

@media screen and (max-width:1340px){
    img{
        height: 550px;
        width: 350px;
        display: block;
        margin: 20px;
    }

    .fundoretangulo{
        width: 350px;
    }
}

@media screen and (max-width:1185px){
    img{
        height: 500px;
        width: 300px;
        display: block;
        margin: 20px;
    }

    .fundoretangulo{
        width: 300px;
    }
}


@media screen and (max-width:1040px){
    img{
        height: 420px;
        width: 250px;
        display: block;
        margin: 20px;
    }

    .fundoretangulo{
        width: 250px;
    }
}

@media screen and (max-width:900px){
    img{
        height: 340px;
        width: 200px;
        display: block;
        margin: 20px;
    }

    .fundoretangulo{
        width: 200px;
    }
}

@media screen and (max-width:800px){
    img{
        height: 280px;
        width: 200px;
        display: block;
        margin: 20px;
    }

    .fundoretangulo{
        width: 200px;
    }
}

@media screen and (max-width:768px){

    .principal{
        display: block;
    }

    img{
        display: block;
        margin: 0 auto;
        height: 350px;
        width: 250px;

    }

    .center{
        margin-bottom: 20px;
    }

    .fundoretangulo{
        width: 250px;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

}