.corpodosprodutos{
    background-color: white;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.center{
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
}

.categorias{
    display: block;
    margin: 0 auto;
    background-color:lightgray;
    width: 310px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

.categorias a{
    text-decoration: none;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    font-family: 'Staatliches', cursive;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size:20px;
    font-weight: normal;
    color: black;
}

.categorias a:hover{
    background-color: rgb(156, 154, 154);
}


img{
    border: 2px solid black;
    height: 250px;
    width: 200px;
    display: block;
    margin: 20px;
}

.produtos-geral{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.produtos-geral a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Staatliches', cursive;
    color: black;
    display: block;
}

.produtos-geral a:hover{
    font-size:23px;
}

.fundoretangulo{
    background-color:lightgray;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
}

.fundoretangulo a{
    text-align: center;
}


@media screen and (max-width:768px){

    .produtos-geral{
        display: block;
    }
    

    img{
        display: block;
        margin: 0 auto;
    }

    .categorias{
        margin-bottom: 20px;
    }

    .fundoretangulo{
        width: 200px;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

}
