@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    user-select: none;
    background-color: white;
    background-image: url(../imagens/computador_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabeçalho{
    padding: 30px;
}

.cabeçalho div{
    border: 2px inset black;
    border-radius: 50%;
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 20px;
}


.cabeçalho a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin-right: 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
    border: 2px inset black;
    border-radius: 10px;
    background-color: white;
}

.cabeçalho a:hover{
    background-color: lightgray;
}

@media screen and (max-width:768px){

    body{
        user-select: none;
        background-color: white;
        background-image: url(../imagens/tablet_fundo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .cabeçalho div{
        margin: 0 auto;
        border-radius: 50%;
    }

    .cabeçalho a{
        display: block;
        text-align: center;
        margin-top: 10px;
    }

}

@media screen and (max-width:360px){

    body{
        user-select: none;
        background-color: white;
        background-image: url(../imagens/celular_fundo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .cabeçalho div{
        margin: 0 auto;
        border-radius: 50%;
    }

    .cabeçalho a{
        display: block;
        text-align: center;
        margin-top: 10px;
    }

}